<header>
<div class="navbar">
    <div class="logo"><a href="#"> Rodridev</a></div>
    <ul class="links">
        <li><a href="/realtimeproducts">Admin</a></li>
        <li><a href="http://localhost:8080/products">Products</a></li>
        <li><a href="#">Cart</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>   

    <a href="#" class="action_btn"><i class="fa-solid fa-star" style="color: #d8ca6f;"></i> &nbsp;<i class="fa-solid fa-star" style="color: #d8ca6f;"></i>&nbsp;<i class="fa-solid fa-star" style="color: #d8ca6f;"></i></a>

    <div class="toggle_btn">
    <i class="fa-solid fa-bars-staggered"></i>   
    </div>
    </div>


<div class="dropdown_menu ">
        <li><a href="/realtimeproducts">Admin</a></li>
        <li><a href="http://localhost:8080/products">Products</a></li>
        <li><a href="services">Cart</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="#" class="action_btn"><i class="fa-solid fa-star" style="color: #d8ca6f;"></i> &nbsp;<i class="fa-solid fa-star" style="color: #d8ca6f;"></i>&nbsp;<i class="fa-solid fa-star" style="color: #d8ca6f;"></i></a></li>
</div>
</header>


<script>
    const toggleBtn = document.querySelector('.toggle_btn')
    const toggleBtnIcon = document.querySelector('.toggle_btn i')
    const dropDownMenu = document.querySelector('.dropdown_menu')

toggleBtn.onclick = function () {
    dropDownMenu.classList.toggle('open')
    const isOpen = dropDownMenu.classList.contains('open')

    toggleBtnIcon.classList = isOpen 
    ? 'fa-solid fa-xmark'
    :'fa-solid fa-bars-staggered'
}

</script>




<input id="chat-box" name="chatbox" type="text" value="" />
<div id="div-msgs" style="border: 1px solid black;">Loading... msgs</div>


<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>


<script >
  
const socket = io();
let correoDelUsuario = '';


async function pedirEmail() {
  const { value: nombre } = await Swal.fire({
    title: 'Enter your mail',
    input: 'text',
    inputLabel: 'Your mail',
    inputValue: '',
    showCancelButton: false,
    inputValidator: (value) => {
      if (!value) {
        return 'You need to write your mail!';
      }
    },
  });

  correoDelUsuario = nombre;
}

pedirEmail();

//FRONT EMITE

const chatBox = document.getElementById('chat-box');

chatBox.addEventListener('keyup', ({ key }) => {
  if (key == 'Enter') {
    socket.emit('msg_front_to_back', {
      user: correoDelUsuario,
      message: chatBox.value,
    });
    chatBox.value = '';
  }
});

//FRONT RECIBE
socket.on('msg_back_to_front', (msgs) => {
  console.log(msgs);
  let msgsFormateados = '';
  msgs.forEach((msg) => {
    msgsFormateados += "<div style='border: 1px solid red;'>";
    msgsFormateados += '<p>' + msg.user + '</p>';
    msgsFormateados += '<p>' + msg.message + '</p>';
    msgsFormateados += '</div>';
  });
  const divMsgs = document.getElementById('div-msgs');
  divMsgs.innerHTML = msgsFormateados;
});</script>