    <h1 class=""><strong>Something went wrong</strong></h1>
<h2>{{error2}}</h2>
  <a href="/auth/register"><button type="button" class="btn custom-button rounded-4"  > Go back</button></a>

   <div class="cardhome 4">
  <div class="card_image ">
    <img src="https://media.tenor.com/iI2up2rXnAgAAAAC/dibu-martinez-dibu-martinez-qatar2022.gif" />
 