    <h1 class=""><strong>Something went wrong</strong></h1>
<h2>{{error3}}</h2>
  <a href="/auth/login"><button type="button" class="btn custom-button rounded-4"  > Go back</button></a>

   <div class="cardhome 4">
  <div class="card_image ">
    <img src="https://media.giphy.com/media/e9fJuPrh07GTJH9r19/giphy.gif" />