



<header>
<div class="navbar">
    <div class="logo"><a href="#"> Rodridev</a></div>
    <ul class="links">
        <li><a href="auth/profile">Profile</a></li>
        <li><a href="http://localhost:8080/products">Products</a></li>
        <li><a href="#">Cart</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>   

    <a href="#" class="action_btn"><i class="fa-solid fa-star" style="color: #d8ca6f;"></i> &nbsp;<i class="fa-solid fa-star" style="color: #d8ca6f;"></i>&nbsp;<i class="fa-solid fa-star" style="color: #d8ca6f;"></i></a>

    <div class="toggle_btn">
    <i class="fa-solid fa-bars-staggered"></i>   
    </div>
    </div>


<div class="dropdown_menu ">
        <li><a href="/auth/profile">Perfil</a></li>
        <li><a href="http://localhost:8080/products">Products</a></li>
        <li><a href="services">Cart</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="#" class="action_btn"><i class="fa-solid fa-star" style="color: #d8ca6f;"></i> &nbsp;<i class="fa-solid fa-star" style="color: #d8ca6f;"></i>&nbsp;<i class="fa-solid fa-star" style="color: #d8ca6f;"></i></a></li>
</div>
</header>


<script>
    const toggleBtn = document.querySelector('.toggle_btn')
    const toggleBtnIcon = document.querySelector('.toggle_btn i')
    const dropDownMenu = document.querySelector('.dropdown_menu')

toggleBtn.onclick = function () {
    dropDownMenu.classList.toggle('open')
    const isOpen = dropDownMenu.classList.contains('open')

    toggleBtnIcon.classList = isOpen 
    ? 'fa-solid fa-xmark'
    :'fa-solid fa-bars-staggered'
}

</script>
<h2 class="mt-4 mb-4 ">
    <strong>Home</strong>
</h2>


<div class="cards-list">
  
<div class="cardhome 1">
  <div class="card_image"> <img src="https://media.giphy.com/media/gn0pkSGhtTNVFX8ME5/giphy.gif" /> </div>
  <div class="card_title title-white">
    <p>Card Title</p>
  </div>
</div>

  <div class="cardhome 2">
  <div class="card_image">
    <img src="https://media.giphy.com/media/efiyHWNszdsMdORNt7/giphy.gif" />
    </div>
  <div class="card_title title-white">
    <p>Card Title</p>
  </div>
</div>

<div class="cardhome 3">
  <div class="card_image">
    <img src="https://media.giphy.com/media/oosqY3FwE0aVcehzi8/giphy.gif" />
  </div>
  <div class="card_title">
    <p>Card Title</p>
  </div>
</div>
  
  <div class="cardhome 4">
  <div class="card_image">
    <img src="https://media.giphy.com/media/RVhaaM5SY4rwftSUo6/giphy.gif" />
    </div>
  <div class="card_title title-black">
    <p>Card Title</p>
  </div>
  </div>
  <div class="cards-list">
  
<div class="cardhome 1">
  <div class="card_image"> <img src="https://media.giphy.com/media/MTzgVoz8ZiEZSbeNAb/giphy.gif" /> </div>
  <div class="card_title title-white">
    <p>Card Title</p>
  </div>
</div>

  <div class="cardhome 2">
  <div class="card_image">
    <img src="https://media.giphy.com/media/WzR8zb0PN6bUmfz4DW/giphy.gif" />
    </div>
  <div class="card_title title-white">
    <p>Card Title</p>
  </div>
</div>

<div class="cardhome 3">
  <div class="card_image">
    <img src="https://media.giphy.com/media/ResP7Hd89nsaoV4N1H/giphy.gif" />
  </div>
  <div class="card_title">
    <p>Card Title</p>
  </div>
</div>
  
  <div class="cardhome 4">
  <div class="card_image">
    <img src="https://media.giphy.com/media/mCaokUplFZlBsIR8Yf/giphy.gif" />
    </div>
  <div class="card_title title-black">
    <p>Card Title</p>
  </div>
  </div>