<h1><strong>Mundi-App</strong></h1>
<br>
<h2><i class="fa-solid fa-star" style="color:  rgb(240, 230, 88)"></i> &nbsp;<i class="fa-solid fa-star" style=" color: rgb(240, 230, 88)"></i>&nbsp;<i class="fa-solid fa-star" style="color:  rgb(240, 230, 88);"></i></h2>


<div class="containerlogin">
    <div class="wrapperlogin">
      <div class="title"><span>Sign in</span></div>
      
      <form action='/auth/login' method='POST'name="form">
        <div class="row">
          <i class="fas fa-user"></i>
          <input id="usuario" type="text"name='email' placeholder="email">
        </div>
        <div class="row">
          <i class="fas fa-lock"></i>
          <input id="contraseña" type="password" name='password' placeholder ="Password" >
        </div>
        <div class="row button">
          <input type='submit' value="Get into" id="nameuser">
          <input type='button' class="" value="Authenticate with GITHUB " id="buttongithub" onclick="location.href='/auth/github'">
          <p>You do not have an account? &nbsp;<a class="alogin"  href="/auth/register" >Register</a></p>
          </div>
          
      </form>
    </div>
  </div>