<h1>Perfil del usuario </h1>
firstName:
{{user.firstName}}
email:
{{user.email}}
<br />
isAdmin:
{{user.isAdmin}}
<br />
<a href='/auth/administracion'>Ver datos super secretos<a>

<br />
<a href='/auth/logout'>Salir!</a>