<h1><strong>Register</strong></h1>

 <center >
    <div class="containerlogin">
      <p id="welcome" class="writename" ></p>
        <div class="wrapperRegister">
          <div class="title"><span>Creat your account</span></div>

          <form action="/auth/register" method='POST' name="username">
            <div class="row">
              <i class="fas fa-user"></i>
              <div class="User" id="salida"></div>
              <input id="usuario" type="text" name='firstName'  placeholder="First Name"  >
            </div>
            <div class="row">
              <i class="fas fa-lock"></i>
              <input id="contraseña" type="text"  name='lastName' placeholder="Last Name" >
            </div>
            <div class="row">
              <i class="fas fa-lock"></i>
              <input id="palabraClave" type="text" name='email' placeholder="Email" >
            </div>
            <div class="row">
              <i class="fas fa-lock"></i>
              <input id="palabraClave" type="text" name='age' placeholder="Age" >
            </div>
            <div class="row">
              <i class="fas fa-lock"></i>
              <input id="palabraClave" type="text" name="password" placeholder="Password" >
            </div>
            <div class="row button">
              <input id="captured"  type='submit' value= "Join ">
            </div>
              <p>Do you already have an account?&nbsp;<a href='/auth/login' id="captured"  class="alogin">Log in</a></p>
          </form>
        </div>
      </div>
    </center>
