< class="navbar">
    <div class="logo"><a href="#"> Rodridev</a></div>
    <ul class="links">
        <li><a href="hero"></a></li>
        <li><a href="about"></a></li>
        <li><a href="services"></a></li>
        <li><a href="contact"></a></li>
    </ul>   
    <a href="#" class="action_btn">Get Started</a>
<div class="toggle_btn">
    <i class="fa-solid fa-bars"></i>   
</div>

</div>
<div class="dropdown_menu">
    <li><a href="hero"></a></li>
        <li><a href="about"></a></li>
        <li><a href="services"></a></li>
        <li><a href="contact"></a></li>
        <li><a href="#" class="action_btn">Get Started</a></li>
</div>