@import url('https://fonts.googleapis.com/css2?family=Raleway &display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');*/  


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


/*************products********************/
body {
    margin: 0;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5385;
    color: #333;
    text-align: left;
    background-image: linear-gradient(0deg, #f7f2f7 82%, #97D9E1 100%);
}
.mt-50{
    margin-top: 50px;
}
.mb-50{
    margin-bottom: 50px;
}


.bg-teal-400 { 
    background-color: #26a69a;
}

a{
    text-decoration: none !important;
}


.fa {
  color: rgb(240, 230, 88);
}

/**********************************************************/

  strong{
    color: rgb(240, 230, 88);
    text-shadow: 2px 2px 19px rgb(121, 121, 121);

  }
  h1{
    margin-top: 70px;
  }
  h2{
    text-shadow: 2px 2px 19px rgb(121, 121, 121);

  }
  h3{
    color: #71b7e6;
  }
  h4{
    color: #71b7e6;
  }
  h6{
    color: #71b7e6;
    text-shadow: 2px 2px 19px rgb(121, 121, 121);
  }


body {
    background-color: #f7f2f7;
    background-image: linear-gradient(0deg, #f7f2f7 82%, #97D9E1 100%);
    text-align: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  text-shadow: 2px 2px 8px rgb(112, 110, 110);
}
.list-inline-item a {
  color: #26a69a;
}

.pagination a {
 color: #71b7e6;
margin-left: 850px;

}

a:hover {
    color: rgb(220, 198, 112);
    text-shadow: 2px 2px 8px rgb(112, 110, 110);
}
/*HEADER****************************************/
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar .links {
    display: flex;
    gap: 3rem;
}

.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.3 ease;
}

.action_btn:hover {
    scale: 1.15;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/******RESPONSIVE DESING*****/

@media(max-width:992px){
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu {
        display: block;
    }

    .pagination a {
      color: #71b7e6;
     margin-left: 190px;
     
     }
}


/****DROPDONW MENU**********************/

.dropdown_menu {
    display: none;
    position: absolute;
    z-index: 2;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(84, 150, 209, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;

}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
/***RESPONSIVE   NAVBAR*******************/

@media(max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }
    .dropdown_menu {
        display: block;
    }

}
@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

    }
    

/******FORM ************/

#formProducts{
    height: 590px;
    background: rgba(84, 150, 209, 0.1);
    backdrop-filter: blur(15px);
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#buttonForm{
    color: #f8feff;
    box-shadow: 0px 1px   10px #4bb8cc;
}
.custom-button {
    background-color: #6eadaa; /* Cambia el color de fondo según tus necesidades */
    color: #ffffff; /* Cambia el color del texto según tus necesidades */
    /* Otros estilos personalizados */
}



input {
    text-align: center;
}

#buttonForm:hover{
    color: #eef1f1;
    box-shadow: 0px 1px   10px #d3cc44;
}

.custom-button:hover {
    background-color:rgb(220, 198, 112); /* Cambia el color de fondo según tus necesidades */
    color: #ffffff; ;/* Cambia el color del texto según tus necesidades */
    /* Otros estilos personalizados */
}

/*********************************chat**********************************************************************/




/******************************************************************************************/




/* scrollbar */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbb; 
}

/***********************LOGINNNN ---********************/
.containerlogin{
    max-width: 440px;
    padding: 0 30px ;
    margin: 100px  auto;
    height:245px;
  }
  .wrapperlogin{
    height: 370px;
    width:100%;
    background: #fff;
    border-radius: 5px;
	box-shadow: 0px 1px   10px #84dbeb;
  }
  .wrapperRegister{
    height: 510px;
    width:100%;
    background: #fff;
    border-radius: 5px;
	box-shadow: 0px 1px   10px #84dbeb;
  }
  
  .wrapperlogin  .title{
    height: 90px;
    background: #97D9E1;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapperRegister  .title{
    height: 90px;
    background: #97D9E1;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapperlogin form{
    padding: 30px 25px 25px 25px;
	box-shadow: #4bb8cc;
	
  }

  .wrapperRegister form{
    padding: 30px 25px 25px 25px;
	box-shadow: #4bb8cc;
	
  }
  .wrapperlogin form .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
  }

  .wrapperRegister form .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
  }
  .wrapperlogin form .row input{
    margin-bottom: 5px;
    height:100%;
    width:100%;
    outline: none;
    padding-left: 60px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
  }

  .wrapperRegister form .row input{
    margin-bottom: 5px;
    height:100%;
    width:100%;
    outline: none;
    padding-left: 60px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
  }


  form .row input:focus{
    border-color: #11a3e1;
    box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
  }
  form .row input::placeholder{
    color: #999;
  }
  .wrapperlogin form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #97D9E1;
    border: #97D9E1;
    border-radius: 7px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapperRegister form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #97D9E1;
    border: #97D9E1;
    border-radius: 7px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapperlogin form .pass{
    margin: -8px 0 20px 0;
  }
  .wrapperRegister form .pass{
    margin: -8px 0 20px 0;
  }
  .wrapperlogin form .pass a{
    color: #697270;
    font-size: 17px;
    text-decoration: none;
  }
  .wrapperRegister form .pass a{
    color: #697270;
    font-size: 17px;
    text-decoration: none;
  }
  .wrapperlogin form .pass a:hover{
    text-decoration: underline;
  }
  .wrapperRegister form .pass a:hover{
    text-decoration: underline;
  }
  .wrapperlogin form .button input{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #97D9E1;
    border: 1px solid #f6f9f8;
    cursor: pointer;
  }
  .wrapperRegister form .button input{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #97D9E1;
    border: 1px solid #f6f9f8;
    cursor: pointer;
  }

 #buttongithub{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #0d0d0e;
    border: 1px solid #f6f9f8;
    cursor: pointer;
  }
  #buttonadd{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding-left: 0px;
    background: #97D9E1;
    border: 3px solid #f6f9f8;
    cursor: pointer;
  }





  form .button input:hover{
    background: #e0da6e; 
  }
  #buttongithub:hover{
    background: #e0da6e; 
  }



  .wrapperlogin form .signup-link{
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
  }
  .wrapperRegister form .signup-link{
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
  }
  .wrapperlogin form .signup-link a{
    color:#7f8382;
    text-decoration: none;
  }
  .wrapperRegister form .signup-link a{
    color:#7f8382;
    text-decoration: none;
  }


    /*************************************************************/
  form .signup-link a:hover{
    text-decoration: underline;
.box{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgb(153, 17, 17);
    text-align: center;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
.box input [type ="text"],.box input[type ="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid rgb(189, 92, 37);
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: rgb(251, 252, 250);
    border-radius: 64px;
}
.box input [type="text"]:focus,.box input[type="password"]:focus{
    width: 270px;
    border-color: orange;
}
.box input [type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid orange;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    cursor: pointer;

}
.box input[type="submit"] :hover{
    background: orange;

}
button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #1714ca, #547ded);
    border-radius: 20px;
    background-size: 100% auto;
    font-size: 15px;
    padding: 0.6em 1.5em;
    margin-bottom: 25px;
}
button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}
.buttoncc {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #1714ca, #547ded);
    border-radius: 20px;
    background-size: 100% auto;
    font-size: 15px;
    padding: 0.6em 1.5em;
    margin-bottom: 25px;
}
.buttoncc:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s normal;
    animation: pulse512 1.5s normal;
}

@keyframes pulse512 {
    0% {
    box-shadow: 0 0 0 0 #05bada66;
    }
    70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
    100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}}
.alogin {
	color: #70b3b8;
}